@use "src/styles/function/flex" as *;
@use "src/styles/fonts/typography" as *;

.textField {
  @include flex-row;
  padding: 15px;
  gap: 10px;
  border: 1.5px solid var(--Line-Normal);
  border-radius: var(--Shape-ExtraSmall);
  outline: none;

  input {
    @include Label-Medium;
    color: var(--Label-Assistive);
    border: none;
  }
}